<h2>投稿詳細</h2>

<div>
  <table>
    <thead>
      <tr>
        <th>投稿者</th>
        <th>タイトル</th>
        <th>本文</th>
        <th>いいね</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @post_study_method.user.name %></td>
        <td><%= @post_study_method.title %></td>
        <td><%= @post_study_method.body %></td>
        <td>
          <% if @post_study_method.favorited_by?(current_user) %>
            <%= link_to post_study_method_favorites_path(@post_study_method), method: :delete do %>
              ❤<%= @post_study_method.favorites.count %>いいね
            <% end %>
          <% else %>
            <%= link_to post_study_method_favorites_path(@post_study_method), method: :post do %>
              ♡<%= @post_study_method.favorites.count %>いいね
            <% end %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h2>コメント一覧</h2>

<div>
  <p>コメント件数:<%= @post_study_method.comments.count %></p>
  <% @post_study_method.comments.each do |comment| %>
    <%= comment.user.name %>
    <%= comment.created_at.strftime("%Y/%m/%d") %><%= comment.comment %>
    <% if comment.user == current_user %>
      <%= link_to "削除", post_study_method_comment_path(comment.post_study_method,comment), method: :delete %>
    <% end %>
  <% end %>
</div>

<h2>コメント投稿</h2>

<div>
  <%= form_with model: @comment, url: post_study_method_comments_path(@post_study_method), method: :post do |f| %>
    <div>
      <%= f.label :comment, "コメント" %>
      <%= f.text_area :comment, placeholder: "コメントをここに", autocomplete: "off" %>
      <%= f.submit "送信" %>
    </div>
  <% end %>
</div>