<div class="d-flex shadow-sm align-items-center justify-content-end">
  <p class="my-3 ml-5 mr-auto">総勉強時間: 時間</p>
  <p class="my-3 mr-5">ご褒美ポイント: <%= current_user.point %>ポイント</p>
</div>
<div class="container">
  <h3>タスク一覧</h3>
  <div>
    <table>
      <thead>
        <tr>
          <th>達成</th>
          <th>科目</th>
          <th>タスク</th>
          <th>時間</th>
          <th>編集</th>
          <th>削除</th>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <td><%= link_to "☆", achieve_path(task), method: :patch, data: {confirm: "タスクを達成しますか？"} %></td>
            <td><%= task.subject.name %></td>
            <td><%= task.content %></td>
            <td><%= task.study_hours %>時間</td>
            <td><%= link_to "編集", edit_task_path(task) %></td>
            <td><%= link_to "削除", task_path(task), method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


  <h3>タスク追加</h3>
  <div>
    <%= form_with model: @task, url: tasks_path, method: :post do |f| %>
      <div>
        <%= f.label :subject_id, "科目" %>
        <%= f.select :subject_id, options_from_collection_for_select(Subject.all, :id, :name) %>
        <%= f.label :content, "タスク" %>
        <%= f.text_field :content, placeholder: "(例)国語の教科書", autocomplete: "off" %>
        <%= f.label :study_hours, "学習時間" %>
        <%= f.select :study_hours, *[((0.5)..(12.0)).step(0.5)] %>時間
        <%= f.submit "タスク追加" %>
      </div>
    <% end %>
  </div>
</div>

